{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Buy Best!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</head>
<body>
    {% if not exclude_navbar %}
        {% include 'navbar.html' %}
    {% endif %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>