<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
    }
    .navbar {
        background-color: #333;
        color: #fff;
        padding: 20px;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    
    .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .nav-list li {
        display: inline;
        margin-right: 10px;

        
    }
    
    .nav-list li:hover {
        color: #bb0404;
    }
    .nav-list a {
        padding: 3px;
        color: #ffffff;
        text-decoration: none;
        
    }
    .nav-list a:hover {
        color: #ff0000;
        text-decoration: none;
        
    }
    .logout-button {
        padding: 4px;
        text-decoration: none;
        cursor: pointer;
     
    }
    .logout-button:hover {
        background-color: #000000;
        color: #fff;
    }
    .nav-list .right {
        float: right;
    }
    </style>
    
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="{% url 'home' %}">BuyBest!</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'product_list' %}">Amazon Shoes</a></li>
            <li><a href="{% url 'tracked_items' %}">Tracked Items</a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                {% endif %}

                <li class="right">
                    
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                    <li class="right">Balance: ${{ user.balance }}</li>
                    <li class="right"><a href="{% url 'add_balance' %}">Add Balance</a></li>
                </li>
            {% else %}
                <li class="right"><a href="{% url 'register' %}">Register</a></li>
                <li class="right"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>